<table class="table table-hover">
  <thead>
    <tr>
      <td>Employee Name</td>
      <td>Employee Location</td>
      <td colspan="2">Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.location }}</td>
      <td>
        <a [routerLink]="['/edit', employee.id]" class="btn btn-primary">Edit</a>
      </td>
      <td>
        <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>